@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Areas/Admin/Views/Shared/_LogInLayout.cshtml";
}

<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <h4 class="text-center mb-4">Forgot your password</h4>
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
