@model AdlezRestaurant.Core.Models.Ingredient

@{
    ViewData["Title"] = "CreateOrEdit";
    Layout = "";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrEdit" asp-route-id="@Model.IngredientId" onsubmit="return JqueryAjaxPost(this)" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IngredientId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalculationUnit" class="control-label"></label>
                <input asp-for="CalculationUnit" class="form-control" />
                <span asp-validation-for="CalculationUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedPrice" class="control-label"></label>
                <input asp-for="EstimatedPrice" class="form-control" />
                <span asp-validation-for="EstimatedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                @if (Model.IngredientId == 0)
                {
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input asp-for="Image" type="file" class="form-control" onchange="document.getElementById('pre_img').src = window.URL.createObjectURL(this.files[0])" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        Preview<br>
                        <img id="pre_img" alt="No image" width="80" height="80" />
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input asp-for="Image" type="file" class="form-control" onchange="document.getElementById('pre_img').src = window.URL.createObjectURL(this.files[0])" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                            <input id="kimage" name="kimage" value="@Model.Image" hidden>
                        </div>
                    </div>
                    <div class="col-md-6">
                        Preview<br>
                        <img id="pre_img" src="/StaffImages/@Model.Image" width="80" height="80" />
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-block btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
