@model IEnumerable<AdlezRestaurant.Core.Models.Dish>

@{
    ViewData["Title"] = "Index";
}

<h1>Dishes</h1>

<div id="view_all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}