@using AdlezRestaurant.Web.Areas.Admin.ViewModels
@model Statistics

<div class="mt-3">
    <div class="row mb-4 mr-3">
        <div class="col-5 border rounded border-success offset-1">
            <p class="d-lg-none d-xl-block">Total orders</p>
            <strong>@Model.Orders</strong>
        </div>
        <div class="col-5 border rounded border-warning offset-1">
            <p class="d-lg-none d-xl-block">Total customers</p>
            <strong>@Model.Customers</strong>
        </div>
    </div>
    <div class="row mr-3">
        <div class="col-5 border rounded border-info offset-1">
            <p class="d-lg-none d-xl-block">Total revenue</p>
            <strong>@Model.Revenue.ToString("C2")</strong>
        </div>
        <div class="col-5 border rounded border-danger offset-1">
            <p class="d-lg-none d-xl-block">Best seller this time</p>
            <strong class="d-lg-flex d-xl-block">@Model.BestSeller</strong>
        </div>
    </div>
</div>