<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>About <span class="red"> Restaurant</span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="about_box ">
                    <p>
                        Adlez Restaurant is a European-style restaurant located at 999 Cau Dien, Bac Tu Liem, Hanoi. The restaurant has a large space with a total usable area of ​​nearly 450 m2. The floor area of ​​​​200m2 with a capacity of 120 guests, the owner is located in a very convenient location for traffic but is still isolated from the inherent noise of the capital.
The restaurant menu is very diverse with dishes from forest to fresh seafood. The staff is dedicated to serving customers with enthusiasm and professionalism.
                    </p>
                    <a class="read_more" href="#">Read more</a>
                </div>

            </div>
        </div>
    </div>
</div>