@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav mr-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item linkLog">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light btnLog">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item linkLog">
            <a class="nav-link btnLog" href="~/Identity/Account/Login">Log In</a>
        </li>
    }
</ul>