<div id="" class="Testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Reviews</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myCarousel" class="carousel slide Testimonial_carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                    <div class="row d_flex">
                        <div class="col-md-3">
                            <div class="Testimonial_box">
                                <i><img style="max-height: 500px; max-width: 350px;" src="/images/plan1.jpg" alt="#" /></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="Testimonial_box">
                                <h4>Den Mark</h4>
                                <p>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption">
                    <div class="row d_flex">
                        <div class="col-md-3">
                            <div class="Testimonial_box">
                                <i><img src="/images/plan1.jpg" alt="#" /></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="Testimonial_box">
                                <h4>Den Mark</h4>
                                <p>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption">
                    <div class="row d_flex">
                        <div class="col-md-3">
                            <div class="Testimonial_box">
                                <i><img src="/images/plan1.jpg" alt="#" /></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="Testimonial_box">
                                <h4>Den Mark</h4>
                                <p>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>